.big-card__container{
    width: 400px;
    height: 450px;
    display: flex;
    margin-left:20px;
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.big-card__title > h1{
    font-size: 15.5px;
    margin-top: 15px;
}

.big-card__description{
    margin-top: 10px;

}

.big-card__description > p > a{
    font-size: 15px;
    color: grey;
}

.big-card__photo > img{
    width:100%;
    min-width: 400px;
    height: 420px;
}