<div class="small-card__container">
  <div class="small-card-content__container">
    <div class="small-card__photo">
      <img src="https://i.pinimg.com/736x/08/80/a8/0880a81f5a2dab1d8b4db01b0da420e9.jpg" alt="" srcset="" />
    </div>

    <div class="small-card__title">
      <h1><a href="#">O Duelo de Los Angeles, também conhecido como Incidente nas Indústrias Stark, foi o confronto
          final entre Tony Stark e Obadiah Stane, que queria matar e destituir Stark do cargo de CEO de sua empresa. Foi
          também uma tentativa conduzida por Stane de esconder evidências de suas atividades ilegais com os Dez Anéis,
          matando Pepper Potts.</a></h1>
    </div>
  </div>

  <div class="small-card-separator__container">
    <hr/>
  </div>
</div>