
.menu-bar__container {
   margin-top: 15px;
    
}

.menu-bar__container > ul{
    display: flex;
    flex-direction: row;
}

.menu-bar__container > ul > li{
    margin-right: 20px;
    list-style: none;
}
