
.menu-bar__container {
   margin-top: 5px;
   
}

.menu-bar__container > ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.menu-bar__container > ul > li{
    margin-right: 20px;
    list-style: none;
}
